<%= form_for(@sm) do |f| %>
  <% if @sm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sm.errors.count, "error") %> prohibited this sm from being saved:</h2>

      <ul>
      <% @sm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :body, placeholder: "Message Body" %>
  <%= f.text_field :to, placeholder: "To" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
